* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(243, 243, 243);
}
.smaller-device {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .home {
    width: 100%;
    height: 100%;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .header-app {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .first-head-flex {
    flex: 0 0 70%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }

  .bell-icon {
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5em;
  }

  .first-head-flex p {
    text-transform: capitalize;
    font-family: "Karla", sans-serif;
    font-size: 13px;
  }
  .first-head-flex h3 {
    text-transform: capitalize;
    font-family: "Karla", sans-serif;
    font-size: 16px;
  }

  .balance-component {
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
  }
  .portfolio-balance {
    background-color: rgb(27, 27, 27);
  }

  .portfolio-balance p {
    color: white;
    text-transform: capitalize;
    font-family: "Karla", sans-serif;
    font-size: 13px;
    background-color: rgb(27, 27, 27);
  }
  .portfolio-balance h2 {
    color: white;
    margin-top: 0.3em;
    text-transform: capitalize;
    font-family: "Karla", sans-serif;
    font-size: 22px;
    background-color: rgb(27, 27, 27);
  }

  .today-profit {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: rgb(27, 27, 27);
  }

  .today-profit b {
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: 300;
    background-color: rgb(27, 27, 27);
  }

  .today-profit p {
    color: rgb(112, 112, 112);
    font-size: 13px;
  }

  .withdraw-part {
    width: 100%;
    height: 100%;
    padding: 0.4em 0;
    margin-top: 1.5em;
    border-radius: 30px;
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
  }

  .withdraw-icon {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    gap: 0.3em;
    background-color: rgb(56, 56, 56);
  }

  .withdraw-icon p {
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: lighter;
    font-size: 13px;
    text-transform: capitalize;
    background-color: rgb(56, 56, 56);
  }

  .assets-head h3 {
    font-family: "Karla", sans-serif;
    text-transform: capitalize;
    font-size: 16px;
  }

  .assets-child {
    display: flex;
    margin-top: 1em;
    align-items: center;
    gap: 0.3em;
    width: 100%;
    width: 100%;
  }

  .asset-name {
    flex: 0 0 35%;
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .name-symbol {
    width: 65%;
  }

  .name-symbol h4 {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
  }

  .name-symbol p {
    font-family: "Karla", sans-serif;
    text-transform: capitalize;
    color: rgb(141, 141, 141);
    font-size: 13px;
  }

  .asset-img {
    width: 35%;
    height: 2.6em;
    border-radius: 50%;
  }

  .asset-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .asset-graph {
    flex: 0 0 35%;
    height: 2.5em;
    overflow-x: hidden;
  }

  .asset-graph-child {
    width: 100%;
    height: 100%;
  }

  .asset-price {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
  }

  .asset-price h4 {
    font-size: 14px;
    font-family: "Karla", sans-serif;
    align-self: center;
  }
  .asset-price p {
    font-size: 13px;
    color: green;
    font-family: "Karla", sans-serif;
    text-transform: capitalize;
    align-self: center;
  }

  .asset-flex-div {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-top: 0.5em;
  }

  @keyframes LoadAssets {
    0% {
      background-color: rgb(233, 233, 233);
    }

    100% {
      background-color: rgb(212, 212, 212);
    }
  }
  .loading-asset-img {
    animation: LoadAssets 1s linear infinite;
  }

  .loading-asset-img p {
    width: 2.6em;
  }

  .Loading-asset-name {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .Loading-asset-name h4 {
    animation: LoadAssets 1s linear infinite;
    height: 0.5em;
    border-radius: 5px;
  }
  .Loading-asset-name p {
    animation: LoadAssets 1s linear infinite;
    height: 0.5em;
    width: 70%;
    border-radius: 5px;
  }
  .loading-asset-price {
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .loading-asset-price h4 {
    animation: LoadAssets 1s linear infinite;
    height: 0.5em;
    border-radius: 5px;
  }
  .loading-asset-price p {
    animation: LoadAssets 1s linear infinite;
    height: 0.5em;
    width: 60%;
    border-radius: 5px;
  }
  .loading-asset-graph {
    animation: LoadAssets 1s linear infinite;
    height: 3em;
    border-radius: 5px;
  }

  footer {
    display: flex;
    border: 1px solid rgb(233, 233, 233);
    width: 100%;
    position: fixed;
    bottom: 0em;
    padding: 0.6em 0em;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .footer-icon {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    background-color: white;
  }

  .active {
    width: 1.8em;
    height: 1.8em;
    color: #002244;
  }

  .homeBtn {
    width: 1.8em;
    height: 1.8em;
    color: rgb(133, 133, 133);
    background-color: white;
  }

  .middleBtnDiv {
    margin-top: -3em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    /* border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; */
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
  }

  .middleBtn {
    width: 3em;
    height: 3em;
    padding: 0.4em 0.3em;

    border-radius: 50%;
    background-color: black;
    color: white;
  }
}
